@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/robotomedium.ttf); }

@font-face {
  font-family: RobotoLight;
  src: url(../fonts/robotolight.ttf); }

@font-face {
  font-family: RobotoThin;
  src: url(../fonts/robotothin.ttf); }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.form-control:focus {
  border-color: rgba(213, 213, 213, 0.6); }

.container {
  width: 100% !important; }

body {
  height: 100%;
  font-weight: normal; }

.clr {
  clear: both; }

.to_nxt_l, .to_nxt_to {
  display: none; }

input {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0 8px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(213, 213, 213, 0.6); }

input[type="submit"] {
  height: 33px;
  border: none;
  border-radius: 2px;
  background-color: #f44336;
  color: #FFF;
  min-width: 85px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

input[type="submit"]:hover {
  background-color: #E83235; }

.wpr {
  position: relative; }

.wpr .receive-popup {
  position: fixed;
  text-align: center;
  display: none;
  background-color: #FFF;
  min-width: 320px;
  min-height: 460px;
  z-index: 30;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4); }

.wpr .receive-popup h4 {
  color: #f44336; }

.wpr .receive-popup h5 {
  font-size: 14px;
  color: #70737a;
  text-align: left; }

.wpr .receive-popup p {
  text-align: left;
  font-size: 13px; }

.wpr .receive-popup img {
  width: 290px;
  height: 290px;
  margin-top: 20px; }

.wpr .receive-popup .close-bt {
  position: relative;
  display: inline-block;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: 16px;
  color: #FFF;
  font-weight: normal;
  background-color: #f44336;
  z-index: 34; }

.wpr .receive-popup .close-bt:hover {
  cursor: pointer;
  background-color: #E83235; }

.wpr .sent-popup {
  position: fixed;
  text-align: center;
  display: none;
  background-color: #FFF;
  width: 500px;
  min-width: 320px;
  min-height: 460px;
  z-index: 30;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
  z-index: 100; }

.wpr .sent-popup h4 {
  color: #f44336;
  margin: 20px auto; }

.wpr .sent-popup h5 {
  font-size: 14px;
  color: #70737a;
  text-align: left;
  margin-bottom: 5px; }

.wpr .sent-popup p {
  text-align: left;
  font-size: 13px;
  margin-bottom: 25px;
  word-wrap: break-word; }

.wpr .sent-popup .close-bt {
  position: relative;
  display: inline-block;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: 16px;
  color: #FFF;
  font-weight: normal;
  background-color: #f44336;
  z-index: 34; }

.wpr .sent-popup .close-bt:hover {
  cursor: pointer;
  background-color: #E83235; }

.wpr .bg-gr {
  background-color: #F6F6F6; }

.wpr .bg-gr .col-md-9 {
  padding-left: 0; }

.wpr header {
  position: relative;
  height: 65px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.wpr header .nav-button {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 35; }

.wpr header .nav-button span {
  display: block; }

.wpr header .nav-button:hover {
  cursor: pointer;
  color: #f44336; }

.wpr header .logo {
  text-align: center; }

.wpr header .logo img {
  max-height: 60px;
  margin: 0 auto;
  padding-left: 10px; }

.wpr header .balance-wrap h5 {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color: #f44336;
  margin: 0;
  padding: 25px 0; }

.wpr header .balance-wrap h5 span.value {
  color: #000;
  font-weight: bold; }

.wpr header .balance-wrap .cash-v {
  display: inline-block;
  padding: 0 5px;
  margin: 0 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 14px;
  color: #f44336; }

.wpr header .user-btns a {
  float: right;
  color: #000000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 22px 0;
  white-space: nowrap; }

.wpr header .user-btns a:hover {
  text-decoration: none; }

.wpr header .user-btns .user-rec {
  background-image: url(../img/icons/recieve.png);
  background-repeat: no-repeat;
  background-position: 18% 50%;
  padding-left: 40px;
  padding-right: 20px; }

.wpr header .user-btns .user-rec:hover {
  color: #f44336;
  background-image: url(../img/icons/recieve_active.png); }

.wpr header .user-btns .user {
  padding-left: 8%;
  padding-right: 8%; }

.wpr header .user-btns .user:hover {
  color: #f44336; }

.wpr .sidebar {
  z-index: 3;
  padding: 0; }

.wpr .sidebar .col-md-11 {
  position: relative;
  padding: 0;
  background: #333742;
  min-height: 100%; }

.wpr .sidebar .col-md-11 .side_mnu {
  margin: 0;
  padding: 15px 0;
  background: #333742;
  list-style: none; }

.wpr .sidebar .col-md-11 .side_mnu li {
  display: block;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 25px 50%;
  box-sizing: padding-box; }

.wpr .sidebar .col-md-11 .side_mnu li#dash {
  background-image: url(../img/icons/dashboard.png); }

.wpr .sidebar .col-md-11 .side_mnu li#dash.active {
  background-color: #292c35;
  background-image: url(../img/icons/dashboard_active.png); }

.wpr .sidebar .col-md-11 .side_mnu li#transact_hist {
  background-image: url(../img/icons/trans_history.png); }

.wpr .sidebar .col-md-11 .side_mnu li#transact_hist.active {
  background-color: #292c35;
  background-image: url(../img/icons/trans_history_active.png); }

.wpr .sidebar .col-md-11 .side_mnu li#profile {
  background-image: url(../img/icons/my_profile.png); }

.wpr .sidebar .col-md-11 .side_mnu li#profile.active {
  background-color: #292c35;
  background-image: url(../img/icons/my_profile_active.png); }

.wpr .sidebar .col-md-11 .side_mnu li#address_book {
  background-image: url(../img/icons/address_book.png);
  border-bottom: 1px solid #4c505b; }

.wpr .sidebar .col-md-11 .side_mnu li#address_book.active {
  background-color: #292c35;
  background-image: url(../img/icons/address_book_active.png); }

.wpr .sidebar .col-md-11 .side_mnu li a {
  display: block;
  line-height: 52px;
  padding: 0 18px 0 70px;
  color: #70737a; }

.wpr .sidebar .col-md-11 .side_mnu li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  border-left: 3px solid #f44336; }

.wpr .sidebar .col-md-11 .side_mnu li.active {
  text-decoration: none; }

.wpr .sidebar .col-md-11 .side_mnu li.active a {
  color: #FFFFFF; }

.wpr .sidebar .col-md-11 .side_mnu-abs {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  list-style: none; }

.wpr .sidebar .col-md-11 .side_mnu-abs li {
  display: block;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 25px 50%; }

.wpr .sidebar .col-md-11 .side_mnu-abs li#log_out {
  background-image: url(../img/icons/logout.png);
  border-top: 1px solid #4c505b; }

.wpr .sidebar .col-md-11 .side_mnu-abs li#log_out.active {
  background-image: url(../img/icons/logout_active.png); }

.wpr .sidebar .col-md-11 .side_mnu-abs li a {
  display: block;
  line-height: 52px;
  padding: 0 18px 0 70px;
  color: #70737a; }

.wpr .sidebar .col-md-11 .side_mnu-abs li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5); }

.wpr .sidebar .col-md-11 .side_mnu-abs li.active {
  text-decoration: none; }

.wpr .sidebar .col-md-11 .side_mnu-abs li.active a {
  color: #FFFFFF; }

.wpr .main-cont {
  margin: 25px 0 12px;
  border-radius: 2px;
  min-height: 600px;
  box-shadow: 0 1px 2px rgba(213, 213, 213, 0.9);
  background-color: #FFF; }

.wpr .main-cont .col-md-12 {
  padding: 0 15px; }

.wpr .main-cont .tap ul {
  margin: 0;
  padding: 0; }

.wpr .main-cont .tap ul li {
  float: left;
  list-style: none;
  margin-left: 20px; }

.wpr .main-cont .tap ul li a {
  white-space: nowrap;
  color: #000;
  border-width: 0; }

.wpr .main-cont .tap ul li a:hover {
  background-color: #FFF; }

.wpr .main-cont .tap ul li:hover {
  cursor: pointer; }

.wpr .main-cont .tap ul li.active a {
  color: #f44336;
  border-bottom: 3px solid #f44336; }

.wpr .main-cont #info, .wpr .main-cont #settings {
  padding: 0 30px; }

.wpr .main-cont #info input, .wpr .main-cont #settings input {
  margin-left: 0; }

.wpr .main-cont #info .col-md-9, .wpr .main-cont #settings .col-md-9 {
  padding-left: 15px; }

.wpr .main-cont #info .warning, .wpr .main-cont #settings .warning {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 25px;
  padding: 15px;
  display: none; }

.wpr .main-cont #info .warning h5, .wpr .main-cont #settings .warning h5 {
  color: #FFED00;
  margin: 5px 0; }

.wpr .main-cont #info .warning p, .wpr .main-cont #settings .warning p {
  color: #FFF;
  margin: 10px 0; }

.wpr .main-cont #info .warning .close-warn, .wpr .main-cont #settings .warning .close-warn {
  position: absolute;
  color: #FFED00;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  text-align: center;
  cursor: pointer;
  z-index: 10; }

.wpr .main-cont #info h3, .wpr .main-cont #settings h3 {
  color: #f44336; }

.wpr .main-cont #info h4, .wpr .main-cont #settings h4 {
  margin-top: 30px; }

.wpr .main-cont #info #my_addr_cab, .wpr .main-cont #settings #my_addr_cab {
  display: block;
  word-wrap: break-word;
  min-width: 230px; }

.wpr .main-cont #info label, .wpr .main-cont #info p, .wpr .main-cont #settings label, .wpr .main-cont #settings p {
  font-size: em(14px);
  font-weight: normal;
  margin: 20px 0;
  display: inline-block;
  position: relative; }

.wpr .main-cont #info label span, .wpr .main-cont #info p span, .wpr .main-cont #settings label span, .wpr .main-cont #settings p span {
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: -20px;
  color: rgba(119, 107, 107, 0.4); }

.wpr .main-cont #info label span:hover, .wpr .main-cont #info p span:hover, .wpr .main-cont #settings label span:hover, .wpr .main-cont #settings p span:hover {
  color: #367EB9;
  cursor: pointer; }

.wpr .main-cont #info input[type="text"], .wpr .main-cont #settings input[type="text"] {
  margin-left: 0; }

.wpr .main-cont #info input[type="text"]#recep, .wpr .main-cont #settings input[type="text"]#recep {
  width: 80%;
  max-width: 500px;
  margin-right: 15px;
  padding: 8px;
  font-size: 13px;
  color: #70737a; }

.wpr .main-cont #info input[type="text"]#amount, .wpr .main-cont #settings input[type="text"]#amount {
  width: 120px; }

.wpr .main-cont #info input[type="text"]#fee_p, .wpr .main-cont #info input[type="text"]#total, .wpr .main-cont #settings input[type="text"]#fee_p, .wpr .main-cont #settings input[type="text"]#total {
  width: 150px; }

.wpr .main-cont #info input[value="SEND"], .wpr .main-cont #settings input[value="SEND"] {
  margin-top: 20px;
  margin-bottom: 20px; }

.wpr .main-cont #info p, .wpr .main-cont #settings p {
  display: inline-block;
  margin: 20px 0 15px; }

.wpr .main-cont #info a, .wpr .main-cont #settings a {
  display: inline-block;
  color: #f44336;
  text-decoration: underline;
  margin-right: 30px;
  margin-top: 10px; }

.wpr .main-cont #info textarea.form-control, .wpr .main-cont #settings textarea.form-control {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #DADADA;
  resize: none;
  padding: 5px 0;
  width: 80%; }

.wpr .main-cont #info .detail-row div, .wpr .main-cont #settings .detail-row div {
  float: left;
  margin-right: 20px; }

.wpr .main-cont #info .detail-row div#feep-wr, .wpr .main-cont #info .detail-row div#total-wr, .wpr .main-cont #settings .detail-row div#feep-wr, .wpr .main-cont #settings .detail-row div#total-wr {
  color: #8B8B8B; }

.wpr .main-cont #trans .wt, .wpr .main-cont #logs .wt {
  padding-top: 20px; }

.wpr .main-cont #trans .filter, .wpr .main-cont #logs .filter {
  line-height: 25px;
  margin: 20px 30px 0; }

.wpr .main-cont #trans .filter select, .wpr .main-cont #logs .filter select {
  box-shadow: none; }

.wpr .main-cont #trans .filter .input-daterange, .wpr .main-cont #logs .filter .input-daterange {
  display: inline-block; }

.wpr .main-cont #trans .filter label, .wpr .main-cont #trans .filter span, .wpr .main-cont #logs .filter label, .wpr .main-cont #logs .filter span {
  color: #9a9a9a;
  font-size: em(10px);
  font-weight: normal; }

.wpr .main-cont #trans .filter select:focus, .wpr .main-cont #logs .filter select:focus {
  box-shadow: none !important; }

.wpr .main-cont #trans .filter input, .wpr .main-cont #trans .filter select, .wpr .main-cont #logs .filter input, .wpr .main-cont #logs .filter select {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0 8px;
  width: 100px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(213, 213, 213, 0.6); }

.wpr .main-cont #trans .filter select, .wpr .main-cont #logs .filter select {
  width: 120px; }

.wpr .main-cont #trans .filter input[type="submit"], .wpr .main-cont #logs .filter input[type="submit"] {
  height: 33px;
  border: none;
  border-radius: 2px;
  background-color: #f44336;
  color: #FFF;
  width: 115px;
  outline: none; }

.wpr .main-cont #trans .filter input[type="submit"]:hover, .wpr .main-cont #logs .filter input[type="submit"]:hover {
  background-color: #E83235; }

.wpr .main-cont #trans h3, .wpr .main-cont #logs h3 {
  margin: 25px 20px;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  position: relative; }

.wpr .main-cont #trans h3 span, .wpr .main-cont #logs h3 span {
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: -20px;
  color: rgba(119, 107, 107, 0.4); }

.wpr .main-cont #trans h3 span:hover, .wpr .main-cont #logs h3 span:hover {
  cursor: pointer;
  color: #367EB9 !important; }

.wpr .main-cont #trans .trans-tab, .wpr .main-cont #logs .trans-tab {
  position: relative; }

.wpr .main-cont #trans .trans-tab table, .wpr .main-cont #logs .trans-tab table {
  display: block;
  margin: 0 15px;
  border: 1px solid rgba(213, 213, 213, 0.3);
  border-radius: 3px; }

.wpr .main-cont #trans .trans-tab table tr td, .wpr .main-cont #logs .trans-tab table tr td {
  width: 19%;
  font-size: em(14px);
  border-bottom: 1px solid rgba(213, 213, 213, 0.3);
  text-align: center; }

.wpr .main-cont #trans .trans-tab table tr :first-child, .wpr .main-cont #logs .trans-tab table tr :first-child {
  width: 17%;
  text-align: left;
  padding-left: 2%; }

.wpr .main-cont #trans .trans-tab table tr :last-child, .wpr .main-cont #logs .trans-tab table tr :last-child {
  width: 14%;
  text-align: right;
  padding-right: 2%; }

.wpr .main-cont #trans .trans-tab table thead th, .wpr .main-cont #logs .trans-tab table thead th {
  color: #9a9a9a;
  height: 60px;
  text-align: center;
  border-bottom: 1px solid rgba(213, 213, 213, 0.3); }

.wpr .main-cont #trans .trans-tab table tbody td span.glyphicon, .wpr .main-cont #logs .trans-tab table tbody td span.glyphicon {
  opacity: .7;
  font-size: 16px;
  color: #367EB9; }

.wpr .main-cont #trans .trans-tab table tbody td span.glyphicon:hover, .wpr .main-cont #logs .trans-tab table tbody td span.glyphicon:hover {
  cursor: pointer; }

.wpr .main-cont #trans .trans-tab table tbody :last-child, .wpr .main-cont #logs .trans-tab table tbody :last-child {
  padding-right: 4%; }

.wpr .main-cont #trans .trans-tab table tbody .red-col, .wpr .main-cont #logs .trans-tab table tbody .red-col {
  color: #f44336;
  height: 50px; }

.wpr .main-cont #trans .hist-tab, .wpr .main-cont #logs .hist-tab {
  position: relative; }

.wpr .main-cont #trans .hist-tab .tab-wpr, .wpr .main-cont #logs .hist-tab .tab-wpr {
  position: relative;
  border: 1px solid rgba(213, 213, 213, 0.3);
  border-radius: 3px; }

.wpr .main-cont #trans .hist-tab .tab-wpr .row, .wpr .main-cont #logs .hist-tab .tab-wpr .row {
  margin: 0;
  border-bottom: 1px solid rgba(213, 213, 213, 0.3); }

.wpr .main-cont #trans .hist-tab .tab-wpr .d-thead .row, .wpr .main-cont #logs .hist-tab .tab-wpr .d-thead .row {
  height: 60px;
  line-height: 60px;
  color: #9a9a9a !important; }

.wpr .main-cont #trans .hist-tab .tab-wpr .d-thead .row .col-md-4, .wpr .main-cont #logs .hist-tab .tab-wpr .d-thead .row .col-md-4 {
  padding-left: 15px; }

.wpr .main-cont #trans .hist-tab .tab-wpr .d-tbody .row, .wpr .main-cont #logs .hist-tab .tab-wpr .d-tbody .row {
  height: 45px;
  line-height: 45px; }

.wpr .main-cont #trans .hist-tab .tab-wpr .d-tbody .row .col-md-3, .wpr .main-cont #logs .hist-tab .tab-wpr .d-tbody .row .col-md-3 {
  position: relative; }

.wpr .main-cont #trans .hist-tab .tab-wpr .d-tbody .row .col-md-3 span, .wpr .main-cont #logs .hist-tab .tab-wpr .d-tbody .row .col-md-3 span {
  position: absolute;
  display: none;
  color: #BDBDBD;
  width: 14px;
  top: 15px;
  right: 15px; }

.wpr .main-cont #trans .pagination li a, .wpr .main-cont #logs .pagination li a {
  color: #000; }

.wpr .main-cont #trans .pagination li a:hover, .wpr .main-cont #logs .pagination li a:hover {
  background-color: #f44336;
  color: #FFF; }

.wpr .main-cont #trans .pagination li a.active, .wpr .main-cont #logs .pagination li a.active {
  background-color: #f44336;
  color: #FFF; }

.wpr .main-cont #trans .pagination :first-child a, .wpr .main-cont #trans .pagination :last-child a, .wpr .main-cont #logs .pagination :first-child a, .wpr .main-cont #logs .pagination :last-child a {
  color: #f44336; }

.wpr .main-cont #settings {
  padding: 0 15px; }

.wpr .main-cont #settings .bl-cont {
  border-right: 1px solid rgba(213, 213, 213, 0.3); }

.wpr .main-cont #settings .bl-cont .rel_p {
  position: relative;
  margin: 15px 0;
  color: #000; }

.wpr .main-cont #settings .bl-cont input {
  display: block;
  margin: 15px 0;
  width: 90%;
  color: #000;
  padding: 0 15px 5px 0; }

.wpr .main-cont #settings .bl-cont input#pass, .wpr .main-cont #settings .bl-cont input#n_pass, .wpr .main-cont #settings .bl-cont input#rep_pass {
  width: 90%; }

.wpr .main-cont #settings .bl-cont input#trans_lim {
  float: left;
  width: 45%;
  margin: 0; }

.wpr .main-cont #settings .bl-cont input[type="submit"] {
  font-family: RobotoMedium;
  float: none;
  margin: 15px 0;
  padding: 0;
  width: 120px;
  color: #FFF; }

.wpr .main-cont #settings .bl-cont input[type="checkbox"] {
  position: absolute;
  display: block;
  right: -100px;
  top: -10px;
  outline: none; }

.wpr .main-cont #settings .n-bord {
  border: none; }

.wpr .main-cont-addr {
  margin: 25px 0 12px;
  border-radius: 2px;
  min-height: 600px;
  box-shadow: 0 1px 2px rgba(213, 213, 213, 0.9);
  background-color: #FFF; }

.wpr .main-cont-addr h3 {
  margin: 25px 20px;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  position: relative; }

.wpr .main-cont-addr h3 span {
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: -20px;
  color: rgba(119, 107, 107, 0.4); }

.wpr .main-cont-addr h3 span:hover {
  color: #6CB9FF;
  cursor: pointer; }

.wpr .main-cont-addr .addr-tab {
  padding-left: 15px; }

.wpr .main-cont-addr .addr-tab .tab-wpr {
  position: relative;
  border: 1px solid rgba(213, 213, 213, 0.3);
  border-radius: 3px; }

.wpr .main-cont-addr .addr-tab .tab-wpr .row {
  margin: 0;
  border-bottom: 1px solid rgba(213, 213, 213, 0.3); }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-thead .row {
  height: 60px;
  line-height: 60px;
  color: #9a9a9a !important; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-thead .row .col-md-9 {
  padding-left: 15px; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row {
  padding: 15px 0; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row .col-md-3 {
  position: relative; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row .col-md-3 span {
  position: absolute;
  display: none;
  color: #BDBDBD;
  width: 14px;
  top: 5px;
  right: 15px; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row .col-md-9 {
  position: relative;
  padding-left: 15px;
  color: #f44336; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row .col-md-9 span.glyphicon-edit {
  position: absolute;
  display: none;
  color: #BDBDBD;
  width: 5px;
  top: 5px;
  right: 45px; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row .col-md-9 span.glyphicon-remove {
  position: absolute;
  display: none;
  color: #BDBDBD;
  width: 5px;
  top: 5px;
  right: 15px; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row:hover span.glyphicon {
  display: block;
  cursor: pointer; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row:hover span.glyphicon:hover.glyphicon-edit {
  color: #6CB9FF; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .row:hover span.glyphicon:hover.glyphicon-remove {
  color: #f44336; }

.wpr .main-cont-addr .addr-tab .tab-wpr .d-tbody .word-w {
  word-wrap: break-word; }

.wpr .main-cont-addr .addr-tab .add_new {
  margin-top: 15px; }

.wpr .main-cont-addr .addr-tab .add_new input {
  border-radius: 2px;
  padding: 8px 5px; }

.wpr .main-cont-addr .addr-tab .add_new input#name {
  width: 20%;
  min-width: 75px;
  height: 35px;
  margin-right: 0; }

.wpr .main-cont-addr .addr-tab .add_new input#address {
  width: 53%;
  height: 35px;
  margin-right: 0; }

.wpr .main-cont-addr .addr-tab .add_new input#add_addr {
  border: none;
  background-color: #f44336;
  color: #FFF;
  width: 14%;
  min-width: 60px;
  outline: none;
  margin: 0 0 0 10px;
  padding: 0;
  height: 33px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  header .balance-wrap h5 {
    font-size: 12px !important;
    padding: 15px 0 !important; }
  header .balance-wrap .cash-v {
    padding: 0 3px !important;
    margin: 0 4px !important;
    font-size: 10px !important; }
  header .user-btns a {
    font-size: 13px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border: none !important; }
  header .user-btns .user-rec {
    background-position: 19% 50%;
    padding-left: 50px;
    padding-right: 10px !important; }
  header .user-btns .user {
    padding-left: 5% !important;
    padding-right: 2% !important; }
  .sidebar {
    display: none;
    height: 226px !important; }
  .sidebar .col-md-11 .side_mnu {
    padding-bottom: 0 !important; }
  .sidebar .col-md-11 .side_mnu li {
    background-position: 25px 50%; }
  .sidebar .col-md-11 .side_mnu li a {
    line-height: 40px !important;
    padding: 0 18px 0 70px; }
  .sidebar .col-md-11 .side_mnu-abs {
    position: relative !important; }
  .sidebar .col-md-11 .side_mnu-abs li {
    display: block;
    background-position: 25px 50%; }
  .sidebar .col-md-11 .side_mnu-abs li#log_out {
    border: none !important; }
  .sidebar .col-md-11 .side_mnu-abs li a {
    line-height: 50px !important;
    padding: 0 18px 0 70px; }
  .col-md-9 {
    padding-left: 15px !important; }
  .col-md-9 .main-cont {
    min-height: 0px !important; }
  #settings .bl-cont {
    border: none !important; }
  .balance-wrap, .xs-pad {
    height: 37px;
    margin-top: 5px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  .tap ul li a {
    font-size: 13px; }
  .main-cont #info a, .main-cont #settings a {
    margin-right: 15px !important;
    margin-top: 10px !important; }
  .main-cont #info label, .main-cont #info p, .main-cont #settings label, .main-cont #settings p {
    margin: 12px 0 !important; }
  .main-cont #info p, .main-cont #settings p {
    margin-right: 10px !important; }
  .main-cont #trans h3 {
    font-size: 16px !important; }
  .main-cont #trans .trans-tab table {
    margin: 0 !important;
    font-size: 13px; }
  .main-cont #trans .trans-tab table thead th {
    height: 40px !important; }
  .main-cont #trans .trans-tab table tbody td span.glyphicon {
    font-size: 12px !important; }
  .tab-wpr {
    font-size: 12px; }
  input[type="submit"] {
    margin: 10px 0px !important;
    height: 25px !important;
    width: 80px !important; }
  .main-cont-addr .addr-tab .add_new input {
    margin: 0 5px 0 0 !important; }
  .main-cont-addr .addr-tab #add_addr {
    margin: 10px 0 0 0 !important;
    height: 33px !important;
    width: 20% !important; } }

@media only screen and (max-width: 540px) {
  .d-tbody .row .col-md-3 span {
    top: 35px !important;
    right: 20px !important; }
  .d-tbody .row .col-md-9 span.glyphicon-edit {
    top: 35px !important;
    right: 45px !important; }
  .d-tbody .row .col-md-9 span.glyphicon-remove {
    top: 35px !important;
    right: 25px !important; }
  .sent-popup {
    width: 300px !important; }
  .to_nxt_to {
    display: block; } }

@media only screen and (max-width: 655px) {
  .to_nxt_l {
    display: block; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  header .balance-wrap #your {
    display: none; }
  header .balance-wrap .cash-v {
    margin: 0 !important;
    padding: 0px !important;
    font-size: 9px !important; }
  header .user-btns a {
    font-size: 11px !important;
    padding-top: 13px !important;
    overflow: hidden !important; }
  header .user-btns a span {
    opacity: 0; }
  header .user-btns a.user-rec {
    background-position: 50% 50% !important;
    padding-left: 10px !important;
    padding-left-padding-right: 10px !important;
    padding-left-height: 39px !important;
    padding-left-width: 32px !important; }
  .xs-pad {
    padding: 0;
    width: 38%; }
  .main-cont #trans .trans-tab table {
    font-size: 11px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 330px) {
  /**/
  #tabs li a#sett {
    font-size: 10px;
    width: 130px; }
  #tabs li a#log {
    font-size: 10px; } }

@media only screen and (max-width: 408px) {
  .tab-wpr {
    font-size: 10px; }
  .tab-wpr .col-xs-4 {
    padding: 0 5px; } }

@media only screen and (max-width: 390px) {
  .trans-tab {
    margin-left: -15px;
    margin-right: -15px; }
  .trans-tab table {
    font-size: 10px !important; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
  .sidebar {
    display: block !important; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
